<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item active" aria-current="page">GESTION DES CATEGORIES</li>
    </ol>
  </nav>
  <hr >
  <div class="container">
  <div class="row">
    <div class="col-9 col-md-9 order-2">
  <!--    <app-categorie-search-form></app-categorie-search-form> 
      <hr class="mb-4"> -->
      <!--composant liste-->
    <app-categorie-list></app-categorie-list>
  </div>
  <div class="col-md-3 order-1">
    <app-categorie-form></app-categorie-form>
    <br>  <br>
    <hr class="mb-4">
    <app-categorie-search-form></app-categorie-search-form> 
     
  </div>
  </div>
</div>
  